name: test_audio_devices
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  advanced_audio_manager: ^0.0.1
  audio_session: ^0.1.19
  audio_service: ^0.18.13
  flutter_webrtc: ^0.9.48+hotfix.1
  just_audio: ^0.9.37

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/